
:root {
  --dark-shade0: #11110f;

  --dark-shade1: #ffffff;

  --dark-shade2: #ffffff;

  --dark-shade3: #ffffff;

  --dark-shade4: #ffffff;

  --dark-shade5: #ffffff;

  --dark-shade6: #ffffff;

  --dark-shade7: #ffffff;

  --dark-accent0: #9fa772;

  --dark-accent1: #c2ac6a;

  --dark-accent2: #9a9a92;

  --dark-accent3: #b3b7b0;

  --dark-accent4: #c2bcb8;

  --dark-accent5: #bbc2ba;

  --dark-accent6: #ffffff;

  --dark-accent7: #ffffff;
}